<h1>Books#edit</h1>
<p>Find me in app/views/books/edit.html.erb</p>
<div>
    <%= form_with model:@book,url:book_path,local:true do |f| %>
        <div>
            <%= f.label :title %>
            <%= f.text_field :title %>
        </div>
        <div>
            <%= f.label :body %>
            <%= f.text_field :body %>
        </div>
        <div>
            <%= f.submit '保存' %>
        </div>
    <% end %>
</div>